h1 Auction

h2
  | Auction List
  span.info all currently active auctions and auctions on which you have bid


table.table.table-bordered
  tr
    th id
    th status
    th deadline
    th from
    th to
    th campaign

  tr(ng-repeat="auction in auctions")
    td
      a(ng-href="#/auction/{{auction.id}}") auction {{auction.id}}
    td {{auction.state}}
    td {{auction.deadline | date}}
    td {{auction.from | date}}
    td {{auction.to | date}}
    td
      a(ng-href="#/campaign/edit/{{auction.id}}") 
        span(ng-show="auction.deadline > now && !auction.campaign_id") create
        span(ng-show="auction.deadline > now && auction.campaign_id") edit
        span(ng-show="auction.deadline <= now && auction.campaign_id") view

