h1 Campaign

h2
  | Campaign List
  span.info all campaigns created by you


table.table.table-bordered
  tr
    th id
    th published
    th deadline
    th timeframe
    th result

  tr(ng-repeat="campaign in campaigns")
    td
      a(ng-href="#/campaign/edit/{{campaign.auction_id}}") campaign {{campaign.auction_id}}
    td {{campaign.published | yesno}}
    td {{campaign.auction_deadline | date}}
    td {{campaign.auction_from | date}} - {{campaign.auction_to | date}}
    td 
      a(ng-show="campaign.published && campaign.auction_state=='solved'", ng-href="#/result/{{campaign.auction_id}}") show
