h1 Create Campaign - Target
h2
  | Target values
  span.info Drag the slider in the lower area and change the value by clicking on the bars.

.targettweaks(targettweaks,ng-model="campaign.slots")

.row
  .span7
    | bla
  .span1(style="text-align:right;")
    a(href="#/campaign/create") back
