h1 Create Campaign
h2
  | General
  span.info General Settings

.row
  .span2
    label Campaign name
  .span3
    input.span2(type="text",ng-model="campaign.name",required)

h2
  | Targets
  span.info Please specifiy your desired targets and their respective maximum budgets.
.row
  .span7
    table.table.table-condensed
      thead
        tr
          th target quantity
          th maximum budget
          th &nbsp;
      tbody
        tr
          td: input.input-medium(ng-model="campaign.target.quantity", type="number", min="0", required)
          td
            .input-append
              input.input-medium(type="number", min="{{campaign.minBudget()}}", step="100", ng-model="campaign.budget", required)
              span.add-on &euro;
          td
            a.btn.btn-link: i.icon-plus
  .span2
    span.info.pull-right
      a(href="#/campaign/targetTweak") details / change target

// advert
h2
  | Advert
  span.info The advert used for this campaign
.row
  .span5
    table.table.table-condensed
      thead
        tr
          th {{campaign.advert.name}}
      tr
        td Length:
        td {{campaign.advert.duration}} s
      tr
        td Tags:
        td
          ul.nopoints
            li(ng-repeat="tag in campaign.advert.tags") {{tag}}

  .span3
    img(ng-src="{{campaign.advert.thumb}}")
  .span1.info.right
    a change


// auction
h2
  | Auction
  span.info Details about the auction in which the campaign should take place

.row
  .span5
    h4 
      | Auction # {{auction.id}}
      span.info {{auction.from | date}} - {{auction.to | date}}
    table.table.table-condensed
      thead
        tr
          th Attribute
          th Total
          th Selected
          th &nbsp;
      tbody
        tr
          td # slots
          td {{campaign.content.slots.length}}
          td {{getActiveSlots().length}}
          td: a(href="#/campaign/calendar") details
        tr
          td target pts.
          td {{campaign.content.slots.length}}
          td {{getActiveSlots().length}}
          td &nbsp;

h2
  | Attributes
  span.info Use attributes to pre-select blocks you retain interesting

.row
  .span4
    h4 Timeframe
  .span5
    ul.nopoints
      li
        label
          input(type="radio", name="attr-timeframe-restrict", ng-model="campaign.restrictions.timeframe.active", value="0")
          |  No day or time restriction
      li
        label
          input(type="radio", name="attr-timeframe-restrict", ng-model="campaign.restrictions.timeframe.active", value="1")
          |  Restrict days and time I would like my ad to run


div(ng-show="campaign.restrictions.timeframe.active")
  .row
    hr
    .span4
      h4 Restrict days and times
  .row
    .span9
      .timerestrictions(timerestrictions, ng-model="campaign.restrictions.timeframe.entries")


.row
  hr
  .span4
    h4 Auction-specific
  .span5
    ul.nopoints
      li
        label 
          input(type="radio", name="attr-auction-restrict", ng-model="campaign.restrictions.auction.active", value="0")
          |  No auction-specific restrictions
      li
        label
          input(type="radio", name="attr-auction-restrict", ng-model="campaign.restrictions.auction.active", value="1")
          |  Free definition of criteria (advanced)

.row(ng-show="campaign.restrictions.auction.active==1")
  hr
  .span4
    h4 Free definition of criteria
  .span4
    table.table.table-condensed
      tr
        td Category
        td
          select(ng-model="campaign.restrictions.auction.categories", ng-options="c for c in auction.content.categories", multiple)
h2
  | Actions
  span.info Choose to save, publish, or reset the campaign

.row
  .span9(style="text-align:right;")
    button.btn.btn-large
      i.icon-ok
      |  Save Campaign
    button.btn.btn-large
      i.icon-share
      |  Publish
    button.btn.btn-large.btn-danger
      i.icon-trash.icon-white
      |  Reset

hr
