h1 Create Campaign
h2
  | General
  span.info General Settings

.row
  .span2
    label Campaign name
  .span3
    input.span2(type="text",ng-model="campaign.content.name",required, ng-disabled="auction.isLocked()")

h2
  | Targets
  span.info Please specifiy your desired targets and their respective maximum budgets.
.row
  .span7
    table.table.table-condensed
      thead
        tr
          th target quantity
          th maximum budget
          th &nbsp;
      tbody
        tr(ng-repeat="target in campaign.content.targets")
          td: input.input-medium(ng-model="target.quantity", type="number", min="0", required, ng-disabled="auction.isLocked()")
          td
            .input-append
              input.input-medium(type="number", min="{{campaign.minBudget(target.quantity)}}", step="100", ng-model="target.budget", required, ng-disabled="auction.isLocked()")
              span.add-on &euro;
          td.span2
            button.btn.btn-link(ng-show="$last && $index < 2", ng-click="incrementTarget()", ng-disabled="auction.isLocked()"): i.icon-plus
            button.btn.btn-link(ng-show="$last && $index > 0", ng-click="decrementTarget()", ng-disabled="auction.isLocked()"): i.icon-minus

  .span2
    span.info.pull-right
      a(href="#/campaign/targetTweak/{{campaign.auction_id}}") details / change target

// advert
h2
  | Advert
  span.info The advert used for this campaign
.row
  .span7
    table.table.table-condensed
      thead
        tr
          th Name
          th Length (in seconds)
      tbody
        tr
          td: input.input-medium(ng-model="campaign.content.advert.name", type="text", required, ng-disabled="auction.isLocked()")
          td
            input.input-medium(ng-model="campaign.content.advert.duration", type="number", min="0", max="89", required, ng-disabled="auction.isLocked()")

// auction
h2
  | Auction
  span.info Details about the auction in which the campaign should take place

.row
  .span5
    h4 
      | Auction # {{auction.id}}
      span.info {{auction.from | date}} - {{auction.to | date}}
    table.table.table-condensed
      thead
        tr
          th Attribute
          th Total
          th Selected
          th &nbsp;
      tbody
        tr
          td # slots
          td {{campaign.content.slots.length}}
          td {{getActiveSlots().length}}
          td: a(href="#/campaign/calendar/{{campaign.auction_id}}") details
        tr
          td target pts.
          td {{campaign.content.slots.length}}
          td {{getActiveSlots().length}}
          td &nbsp;

h2
  | Attributes
  span.info Use attributes to pre-select blocks you retain interesting

.row
  .span4
    h4 Timeframe
  .span5
    ul.nopoints
      li
        label
          input(type="radio", name="attr-timeframe-restrict", ng-model="campaign.content.restrictions.timeframe.active", value="0", ng-disabled="auction.isLocked()")
          |  No day or time restriction
      li
        label
          input(type="radio", name="attr-timeframe-restrict", ng-model="campaign.content.restrictions.timeframe.active", value="1", ng-disabled="auction.isLocked()")
          |  Restrict days and time I would like my ad to run


div(ng-show="campaign.content.restrictions.timeframe.active")
  .row
    hr
    .span4
      h4 Restrict days and times
  .row
    .span9
      .timerestrictions(timerestrictions, ng-model="campaign.content.restrictions.timeframe.entries")


.row
  hr
  .span4
    h4 Auction-specific
  .span5
    ul.nopoints
      li
        label 
          input(type="radio", name="attr-auction-restrict", ng-model="campaign.content.restrictions.auction.active", value="0", ng-disabled="auction.isLocked()")
          |  No auction-specific restrictions
      li
        label
          input(type="radio", name="attr-auction-restrict", ng-model="campaign.content.restrictions.auction.active", value="1", ng-disabled="auction.isLocked()")
          |  Free definition of criteria (advanced)

.row(ng-show="campaign.content.restrictions.auction.active==1")
  hr
  .span4
    h4 Free definition of criteria
  .span4
    table.table.table-condensed
      tr
        td Category
        td
          select(ng-model="campaign.content.restrictions.auction.categories", ng-options="c for c in auction.content.categories", multiple)
h2
  | Actions
  span.info Choose to save, publish, or reset the campaign

.row
  .span9(style="text-align:right;")
    button.btn.btn-large.btn-success(ng-show="campaign.id && campaign.published == 0", ng-click="publishCampaign()", ng-disabled="auction.isLocked()")
      i.icon-upload
      |  Publish
    button.btn.btn-large(ng-show="campaign.published == 1", ng-click="unpublishCampaign()", ng-disabled="auction.isLocked()")
      i.icon-download
      |  Unpublish      
    button.btn.btn-large(ng-click="saveCampaign()", ng-disabled="campaign.published || auction.isLocked()")
      i.icon-ok
      |  Save Campaign
    button.btn.btn-large.btn-danger(ng-click="deleteCampaign()", ng-disabled="campaign.published || auction.isLocked()")
      i.icon-trash.icon-white
      |  Delete
hr
