.hero-unit
  h1 TvAuction
  p 
    | Instead of paying pre-set prices for auction slots, 
    | this application lets you define whole campaigns for determined timespans.
  p
    | This gives you the comodity to receive the timeslots 
    strong you
    |  care about, for a price you are satisfied with.
  a.btn.btn-large.btn-primary(href="#/user/login") Log in
  |  
  a.btn.btn-large(href="#/help/introduction") Learn more
