div(breadcrumb, breadcrumbs="breadcrumbs")
  
h2
  | Bids
  span.info Information about submitted and won bids

.row
  .span6
    table.table.table-condensed
      thead
        tr
          th #
          th won
          th maximum budget
          th price
          th target quantity
      tbody
        tr(ng-repeat="target in campaign.content.targets")
          td {{$index+1}}
          td {{$index==result.bid | oknotok}}
          td {{target.budget}}
          td
            span(ng-show="$index==result.bid"): {{result.price}}
          td {{target.quantity}}

h2
  | Airings
  span.info Information when your advert will be aired

.row
  .span9(ng-show="result.slots.length")
    table.table.table-condensed
      thead
        th #
        th air time
        th target quantity
        th categories
      tbody
        tr(ng-repeat="slot in getWinningSlots()")
          td {{slot.id}}
          td {{slot.date | date:"medium"}}
          td {{slot.target}}
          td {{slot.categories | join}}
  .span9(ng-show="!result.slots.length") 
    | We are sorry to inform you that none of your submitted bids has won.


h2
  | Actions
  span.info You can save your changes after returning to your campaign.
.row
  .span9(style="text-align:right;")
    a.btn.btn-large(ng-href="#/campaign/edit/{{auction.id}}")
      i.icon-arrow-left
      |  Campaign # {{auction.id}}
    | &nbsp;
    a.btn.btn-large(ng-href="#/campaign")
      i.icon-arrow-up
      |  Campaign List

hr