form
  p(style="font-size: 0.9em") {{slot.show}}
  table.table.table-condensed
    tr
      th Attributes
      th Categories
    tr
      td: ul
        li Active: {{slot.forced || slot.active}}
        li Forced: 
          input(type="checkbox", ng-model="input.forced", ng-disabled="slotLocked")
      td: ul
        li(ng-repeat="category in slot.categories") {{category}}
    tr
      th Price
      th Length
    tr
      td {{slot.price*30 | number:2}} &euro; / 30s
      td {{slot.duration}}s
    tr
      th(colspan="2") Target
    tr
      td(colspan="2",style="padding-top:10px;") 
        input.input.input-mini(type="number", ng-model="input.target", ng-disabled="slotLocked")
  button.button(ng-click="saveInput()", ng-disabled="slotLocked") Save
  button.button(ng-click="closePopup()") Close
