div(breadcrumb, breadcrumbs="breadcrumbs")

.alert.alert-error(ng-show="successful==false")
  strong communication error
  |  it was not possible to log you out. please try to reload the page

.alert.alert-sucess(ng-show="successful==true")
  strong logged out
  |  you were successfully logged out. click 
  a(ng-href="/") here
  |  to return to the main page.


strong logging you out&hellip;
span(ng-hide="notLoggedIn")  you are currently being logged out

span(ng-show="notLoggedIn")  you are already logged out.