div(breadcrumb, breadcrumbs="breadcrumbs")
  
h2 
  | Login
  span.info Please insert your email and password

#already-logged-in.alert(ng-show="alreadyLoggedIn")
  strong Already Logged In
  |  You are already logged in. 
  a(ng-href="#/campaign") Go to your campaigns

#credentials-invalid.alert(ng-show="credentialsInvalid")
  strong Invalid Credentials
  |  Your email/password combination is invalid.


form.form-horizontal#user-login-form(ng-submit="login()")
  .control-group
    label.control-label email
    .controls
      input(type="email", required, placeholder="email", ng-model="user.email")
  .control-group
    label.control-label password
    .controls
      input(type="password", required, placeholder="password", ng-model="user.password")
  button.btn Log in
