h2 Log out

.alert.alert-info
  strong logging you out...
  |  you are currently being logged out

.alert.alert-error(ng-show="successful==false")
  strong communication error
  |  it was not possible to log you out. please try to reload the page

.alert.alert-sucess(ng-show="successful==true")
  strong logged out
  |  you were successfully logged out. click 
  a(ng-href="/") here
  |  to return to the main page (or wait for 3 seconds).
