!!! 5
html(lang='en', ng-app='tvAuction', ng-csp)
head
    meta(charset='utf-8')
    title Tv Auction
    link(rel='stylesheet', href='lib/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='css/app.css')
  body

    .navbar
      .navbar-inner
        .container
          a.brand(ng-href='#/') TvAuction
          ul.nav
            li.active: a(href='#') Blabla
    .row
      // left side menu
      .span3
        ul.nav.nav-list
          li.nav-header Campaigns
          li: a(ng-href='#/campaign/list/active') List Active Campaigns
          li: a(ng-href='#/campaign/list/finished') List Finished Campaigns
          li: a(ng-href='#/campaign/new') Create Campaign

          li.nav-header Auctions
          li: a(ng-href='#/auction/list') List Auctions

          li.nav-header Adverts
          li: a(ng-href='#/advert/create') Import Advert
          li: a(ng-href='#/advert/list') Manage Adverts

          li.nav-header Support
          li: a(ng-href='#/help') Help
      .span9
        div(ng-view)

    script(src='lib/jquery/jquery-1.7.2.js')
    script(src='lib/underscore/underscore-1.3.3.js')
    script(src='lib/bootstrap/bootstrap-2.1.1.js')
    script(src='lib/d3/d3.v2.js')
    script(src='lib/angular/angular.js')
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')
    script(src='js/graphs.js')
