h1 Create Campaign - Target
h2
  | General
  span.info General Settings

.targettweaks(targettweaks,ng-model="campaign.slots")

div
  | bla
  | {{campaign.slots[0]}}
input(type="text",ng-model="campaign.slots[0].target")
